<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>PRO-nounce</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0068bd">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#0068bd">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<div style="height: 50px;"></div>

		<div id="header">
			<div id="top-bar">
				{{#if user}}
				<div class="top-bar-item" id="current-score">Score: {{ score }}</div>
				{{#if rank}}
				<div class="top-bar-item" id="current-rank">Rank: {{ rank }}</div>
				{{else}}
				<div class="top-bar-item" id="current-rank">Unranked</div>
				{{/if}}
				{{else}}
				<div class="top-bar-item">
					<button class="btn btn-secondary" style="color: grey;" onclick="window.location.href = '/keystone/signin'">Sign In</button>
				</div>
				<div class="top-bar-item">
					<button class="btn btn-secondary" style="color: grey;" onclick="window.location.href = '/signup'">Sign Up</button>
				</div>
				{{/if}}
			</div>
		</div>

		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		
		<div id="footer">
		</div>
		
		<nav id="nav-bar">
			<a
				href="/leaderboard?skip={{skip}}"
				class="nav-bar-item"
				{{#ifeq section "leaderboard"}}data-active=""{{/ifeq}}
			>
				<i class="fas fa-list-ol"></i>
			</a>
			<a
				href="/?skip={{skip}}"
				id="record"
				class="nav-bar-item nav-bar-item-clickable"
				{{#ifeq section "home"}}data-active=""{{/ifeq}}
			>
				<i class="fas fa-microphone"></i>
				<i class="fas fa-dot-circle"></i>
			</a>
			<a
				href="/profile?skip={{skip}}"
				class="nav-bar-item"
				{{#ifeq section "profile"}}data-active=""{{/ifeq}}
			>
				<i class="fas fa-user"></i>
			</a>
		</nav>

		<div style="height: 156px;"></div>
		
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script src="/js/main.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
