{{!< default}}

<div id="profile-info">
    {{#if user.avatar}}
    <img class="profile-picture" src="{{ user.avatar.secure_url }}" alt="profile picture">
    {{else}}
    {{/if}}
    <span id="profile-name">{{ user.name.first }} {{ user.name.last }}</span>
</div>

<div class="tabbed-area">

    <input id="stickers" class="tab-radio" type="radio" name="tabs" checked="">
    <input id="recordings" class="tab-radio" type="radio" name="tabs">

    <div id="tab-labels">
    <label for="stickers" id="stickers-label">Stickers</label>
    <label for="recordings" id="recordings-label">Recordings</label>
    </div>

    <div id="stickers-content">
        <ul>
        {{#each stickers}}
        <li>
            Word: {{word.name}}
            <br>
            Sticker: {{type}}
        </li>
        {{/each}}
        </ul>
    </div>

    <div id="recordings-content">
        {{#each recordings}}
        <div>
            <p id="recording-name">{{name}}</p>
            <br>
            <audio controls id="recording-file">
                <source src="{{ file.url }}" type="{{ file.mimetype }}">
                <a href="{{ file.url }}">{{ file.url }}</a>
            </audio>
        </div>
        {{/each}}
    </div>
</div>
